.about-area{
    time {font-size: 0.875rem;}
    .about-right {
        span.category::before {
            left: 8px;
            top: 7px;
        }
        .about-prea{
            >ul, .list_link {display: none;}
            img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                margin-bottom: 10px;
                +.icon_blockvideo { display: none; }
            }
            picture {
                img {
                    position: absolute;
                }
            }
            figure {
                .fig-picture { text-align: center; }
                figcaption {
                    p {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
            p {
                text-align: justify;
                &.author_mail {
                    text-align: right;
                }
                color: $black;
                a {
                    cursor: default;
                    pointer-events: none;
                    color: $black
                }
            }
        }
    }
}


// Details Page
.social-share ul li {
	display: inline-block;
    margin: 0 10px;
    @media #{$xs}{
        margin: 0 7px;
    }
    .section-tittle {
        display: flex;
    }
}
.social-share{
    .section-tittle {
        display: flex;
    }
}