.about-area{
    time {font-size: 0.875rem;}
    .about-right {
        span.category::before {
            left: 8px;
            top: 7px;
        }
        .about-prea{
            >ul, .list_link {display: none;}
            img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
                margin-bottom: 10px;
                +.icon_blockvideo { display: none; }
            }
            .item_slide_show {
                .box_img_video, .desc_cation p {
                    text-align: center ;
                }
            }
            .block_thumb_slide_show {
                .block_thumb_picture {
                    img {
                        position: absolute;
                        max-width: calc(100% - 30px);
                    }
                }
            }
            .banner-ads, .wrap_video { display: none; }
            figure {
                .fig-picture {
                    text-align: center;
                    position: relative;
                    padding-bottom: 0 !important;
                    picture {
                        img {
                            position: initial !important;
                        }
                    }
                }
                figcaption {
                    p {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
            p {
                text-align: justify;
                &.author_mail {
                    text-align: right;
                }
                color: $black;
                a {
                    cursor: default;
                    pointer-events: none;
                    color: $black
                }
            }
        }
    }
}


// Details Page
.social-share {
    ul {
        display: flex;
        justify-content: space-between;
        li {
            a {
                padding: 0 0 0 20px;
            }
            &:first-child {
                a {
                    padding-left: 0;
                }
            }
        }
    }
    .section-tittle {
        display: flex;
        justify-content: flex-end;
    }
}